/* Navbar.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  color: white;
}

.nav-links {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.heading {
  display: flex;
  align-items: center;
}

.brandLogo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.brandName {
  font-size: 24px;
}

.nav-links li a.active {
  color: #000;
  text-decoration: underline;
}

.menu-icon {
  display: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 30px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.bar.close {
  transform: rotate(45deg);
  margin: 6px 0;
}

.btn {
  display: none;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
  align-items: center;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  
  .menu-icon {
    display: flex;
    
  }

  .nav-links {
    flex-direction: column;
    height: auto;
  }

  .nav-links.show-links {
    display: list-item;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    font-size: 17px;
  }
  .btn {
    display: block;
  }
}
