.nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 30%;
}

.nav-links li {

    list-style: none;

}

.nav-links a {

    color: white;

    text-decoration: none;

    letter-spacing: 3px;

    font-weight: bold;

    font-size: 14px;

    padding: 14px 16px;

}

.heading {
    margin-left: 3%;
    letter-spacing: 2px;
    font-size: 40px;
    display: inline-flex;
    flex-direction: row;
}

.brandLogo {
    display: flex;

    width: 40%;
    background-color: transparent;
}

.heading img {
    height: 40%;
    width: 50%;
}

.brandName {
    font-size: 40px;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.nav-links li a.active {
   color: #000;
    text-decoration: underline;
}